# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.tlog
*.log
*.ipdb
*.iobj
*.txt
*.db
*.ipch
*.opendb
R6Sdk/.vs/R6Sdk/v16/.suo
*.id0
*.id1
*.id2
*.til
*.nam
*.i64
